body {
    background-color: #222;
    color: #f7f7f7;
    font-family: 'Anton', sans-serif;
}

.navbar-brand i, .nav-item .nav-link {
    color: #f7f7f7;
    font-family: 'Anton', sans-serif;
}

i.fa-solid.fa-g::before {
    margin-left: -6px;
}

@media (max-width: 992px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#H_heading_1 {
    height: 350px;
    display: flex;
    align-items: end;
}

#p_home_1 {
    font-size: 22px;
    font-style: italic;
}

.aspectRatioBox {
    padding-top: calc(4.5 / 4 * 100%);
    background-size: cover;
    background-position: center;
}

.cover-image {
    padding-top: calc(1 / 3 * 100%) !important;
}

@media (min-width: 767px) {
    .aspectRatioBox {
        padding-top: calc(2 / 3 * 100%);
    }
}

@media (max-width: 992px) {
    .cover-image {
        padding-top: calc( 1 / 2 * 100%) !important;
    }
}

@media (max-width: 767px) {
    .cover-image {
        padding-top: calc(2.5 / 2 * 100%) !important;
    }
}

.overlay {
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.description {
    opacity: 1;
}

.project-text a {
    color: #f7f7f7;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
}

.project-text p {
    font-style: italic;
}

div.portfolio.col-12.col-lg-4 {
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 75px;
}

@media (max-width: 767px) {
    div.portfolio.col-12.col-lg-4 {
        margin-left: -33px;
        margin-right: -12px;
    }
}




